.formgroup {
  width: 70%;
  max-width: 40rem;
  margin: 10% auto;
  background: white;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 1px 2px 2px rgb(236, 213, 213);
  text-align: center;
}

.formcontrol label {
  display: block;
  margin-bottom: 0.2rem;
}

.formcontrol input {
  margin-bottom: 0.5rem;
}

.formcontrol button {
  margin-top: 0.5rem;
  width: 100px;
  padding: 5px;
  background-color: rgba(32, 170, 71, 0.901);
  border: 2px solid rgba(32, 170, 71, 0.901);
  border-radius: 10px;
}

.formcontrol button:hover {
  background-color: rgba(173, 233, 189, 0.901);
  cursor: pointer;
}
.formcontrol button:disabled {
  cursor: not-allowed;
}

.error {
  color: red;
  font-weight: bold;
  font-size: medium;
}

aside {
  position: fixed;
  top: 20%;
  left: 15%;
  width: 50%;
  background: burlywood;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 1px 2px 2px rgb(236, 213, 213);
  text-align: center;
  display: block;
}

#backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

@media (min-width: 48rem) {
  aside {
    left: calc(50% - 20rem);
    width: 35rem;
  }
}
